/**
|============================
| block 4
|============================
*/

.clients__list {
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  display: flex;

  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--cubic);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}
.clients__icon {
  fill: #afb1b8;
  transition: fill var(--cubic);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: #2196f3;
  }
}
