/**
|============================
| block 4
|============================
*/

.foot__bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-bg-color);
}
.blocks {
   flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
     justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}
.foot--left__block {
   margin-bottom: 60px;
   
@media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.logo__foot {
  margin-bottom: 20px;
  font-family: var(--logo-fonts);
  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;
  color: var(--accent-text-color);
   
  &--accent {
    color: #ffffff;
  }
   display: block;
    font-size: 24px;
    text-align: center;

  @media screen and (min-width: 1200px) {
    display: inline-block;
    padding-left: 0;
    font-size: 26px;
  }
}
.list__foot--align {

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.list__foot__item {
  margin-top: 0;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 0;
  }
}
.address {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.contacts__foot {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.foot--rigth__block {
   margin-bottom: 60px;
   
  @media screen and (min-width: 768px) {
    margin-bottom: 102px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-right: auto;
    margin-bottom: 0;
  }
}
.foot__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    padding-left: 0;
  }
}
.social__list__foot {
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social__link__foot {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 50%;
  transition: background-color var(--cubic);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.social__icon__foot {
  fill: #ffffff;
}
