/**
|============================
| block 4
|============================
*/

.flex__nav {
  @media screen and (max-width: 767px) {
    width: 100%;
    justify-content: space-between;
  }
}
.nav {
  margin-left: 93px;
  gap: 50px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
    margin-left: 88px;
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
    display: block;
    transition: color var(--cubic);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }

    &--current {
      position: relative;
      color: var(--accent-text-color);

      &::after {
        content: '';
        position: absolute;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;

        background: #2196f3;
        border-radius: 2px;
      }
    }
  }
}
.logo__head {
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--accent-text-color);

  &--accent {
    color: var(--main-text-color);
  }

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    height: 60px;
  }
}
.menu__burger__btn {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  padding: 12px 8px;
  text-align: left;

  &__icon {
    transition: fill var(--cubic);

    .menu__burger__btn:hover &,
    .menu__burger__btn:focus & {
      fill: var(--accent-text-color);
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }

  &__item {
    display: flex;
  }

  &__nav {
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    transition: color var(--cubic);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill var(--cubic);

    &:hover,
    &:focus {
      fill: var(--accent-text-color);
    }
  }
}
