/**
|============================
| block 4
|============================
*/

.section__wrap {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__section {
  background: var(--dark-bg-color);
}
.hero__title {
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.3;
  color: #ffffff;

  @media screen and (min-width: 480px) {
    width: 360px;
    font-size: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    width: 700px;
  }
}
.hero__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  margin-top: 30px;
  min-height: 50px;
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-text-color);
  transition: background-color var(--cubic);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.bg__image__hero {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
   

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg/img@1x_sm.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg/img@2x_sm.jpg);
    }
    background-size: cover;
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg/img@1x_md.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg/img@2x_md.jpg);
    }
    background-size: cover;
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg/img@1x_lg.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg/img@2x_lg.jpg);
    }
     max-width: 1600px;
  }
}
