/**
|============================
| block 4
|============================
*/

.flex__btn {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  @media screen and (min-width: 480px) {
    justify-content: left;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.nav__butons {
  background: #f5f4fa;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-text-color);
  background: var(--light-bg-color);
  padding: 6px 22px;
  transition: color var(--cubic), background-color var(--cubic), box-shadow var(--cubic);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &--current {
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    background: var(--accent-text-color);
  }
}
