/**
|============================
| block 4
|============================
*/

.team__bg {
  background-color: var(--light-bg-color);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.list__team {
  gap: 30px;
   flex-wrap: wrap;
}
.team__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;

  &__card {
    padding: 30px 20px;

    @media screen and (min-width: 480px) {
      width: 450px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
.team__img {
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 460px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}
.bg__cards {
  padding: auto;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social__list {
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social__link {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color var(--cubic);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.social__icon {
  fill: #afb1b8;
  transition: fill var(--cubic);

  .social__link:hover &,
  .social__link:focus & {
    fill: #ffffff;
  }
}
