/**
|============================
| block 3
|============================
*/

.foot__email__block {
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    text-align: left;
  }
}
.foot__email__label {
  padding-left: 16px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;

   @media screen and (min-width: 480px) {
    width: 450px;
  }
  
  @media screen and (min-width: 1200px) {
    width: 360px;
  }
}
.foot__email__btn {
  width: 200px;
  height: 50px;

  align-items: center;
  text-align: center;
  background-color: var(--accent-text-color);
  background: #2196f3;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: var(--cubic);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  &__text {
    font-family: var(--main-fonts);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin-left: 30px;
    margin-right: 10px;
  }

  &__icon {
    fill: #fff;
  }

  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin-right: 12px;
    margin-top: 0;
  }
}
