/**
|============================
| block 3
|============================
*/

.modal__form {
  padding: 40px;
}
.modal__label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  position: relative;

  &:nth-child(4) {
    margin-bottom: 20px;
  }
}
.modal__text {
  display: inline-block;
  margin-bottom: 5px;
  font-family: var(--main-fonts);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}
.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px;
  padding-left: 42px;
  width: 100%;
  outline: transparent;
  transition: var(--cubic);
  .modal__label:hover &,
  .modal__label:focus-within & {
    border-color: var(--accent-text-color);
  }
}
.modal__form__icon {
  padding: 11px auto 11px 12px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  transition: var(--cubic);

  .modal__label:hover &,
  .modal__label:focus-within & {
    fill: var(--accent-text-color);
  }
}
.modal__textarea {
  padding-left: 16px;
  padding-top: 12px;
  height: 120px;
  width: 450px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-family: var(--main-fonts);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: var(--cubic);

  .modal__label:hover &,
  .modal__label:focus-within & {
    border-color: var(--accent-text-color);
    outline: transparent;
  }
}

.modal__checkbox {
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modal__checkbox:focus-within {
  fill: var(--accent-text-color);
}

.icon__licens--checked {
  opacity: 0;
  transition: opacity var(--cubic);

  .licens__checkbox:checked + .icon__licens & {
    opacity: 1;
  }
}
.licens__checkbox:checked + .icon__licens .icon__licens--unchecked {
  opacity: 0;
  transition: opacity var(--cubic);
}
.modal__licens__text {
  font-family: var(--main-fonts);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  user-select: none;
}
.modal__licens__link {
  font-family: var(--main-fonts);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-underline-position: under;
}
.modal__form__btn {
  display: block;
  margin: 30px auto 0;
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  font-family: var(--main-fonts);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: var(--cubic);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
