/**
|============================
| block 2
|============================
*/

body {
  font-family: var(--main-fonts), sans-serif;
  color: var(--main-text-color);
}

header {
  border-bottom: 1px solid #ececec;
}
